<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 : Page Not Found</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="not-found-page">
        <div class="container text-center center">
            <div class="row">
              <div class="col">
                <img src="/Images/not-found-img.png" alt="404-Not-Found" class="not-found-err-img">
                <div class="error-content-box">
                    <h1 class="not-found-heading-1">404</h1>
                    <h2 class="not-found-heading-2">Page Not Found</h2>
                    <a href="/" class="not-found-home-link"><button class="not-found-btn">Return to Home Page</button></a>
                </div>
              </div>
            </div>   
    </div>   
</body>
</html>